*{
    font-family: 'Do Hyeon', sans-serif;
    margin:0;
    padding: 0; 
}
.Timer-Cover{
    width:300px;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right bottom,#a2c3f9,#045ef2);
    border-radius: 5%;
    
}
#Timer{
    font-size: 50px;
    margin-bottom: 30px;
    margin-top:30px;
}
.btn-Box{
    display: flex;
    
}
#start{
    background-color: yellowgreen;
    border-radius: 50%;
    width:100px;
    height:100px;
    border:1px solid white;
    cursor: pointer;
    margin-right:30px;
    margin-bottom: 20px;
}
#init{
    background-color: coral;
    border-radius: 50%;
    width:100px;
    height:100px;
    border:1px solid white;
    cursor: pointer;
}




.Watch-Cover{
    width:350px;
    margin:100px auto;
    text-align: center;
    font-size: 40px;
}










.calendal-APP{
    width:660px;
    height: 400px;
    display: flex;
    background-image: linear-gradient(to right bottom,#ffb900,#ff7730);
    border-radius: 5%;
    

}


#calendal{
    width:440px;
    
    display: flex;
    flex-wrap: wrap;
    
}

#calendal > div {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.days-Cover{
    display: flex;
    flex-direction: column;
    width:100px;
    height:150px;
    margin-top:100px;
    align-items: center;
    margin-left: 50px;
    margin-right: 40px;
}
.weekname{
    display: flex;
    justify-content: space-around;
    margin-left:25px;
}
.weekname > div{
    width: 60px;
    
}
.choice{
    background-color: red;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
#monthname{
    font-size: 30px;
    color: #96f89b;
}
#days{
    font-size:45px;
}
#daysnum{
    font-size: 70px;
}
.calendal-Cover{
    margin-top:25px;
}
.daydiv{
    cursor: pointer;
}
#next,#back{
    cursor: pointer;
}











.Total-Container{
    display: flex;
    margin-left: 150px;
}

.todoApp{
    width: 500px;
    border-radius: 2.5%;
    background-image: linear-gradient(to right bottom ,#e3f2fd,#42a5f5);
    display: inline-block;
    
    
}
.todoHeader{
    text-align: center;
}
.todoBody{
    overflow: auto;
}




.itembox{
    border: 5px solid #00acc1;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding:20px;
}
.done{
    text-decoration: line-through;
}
.delete{
    cursor: pointer;
    color: red;
}
.content{
    font-size: 15px;
    cursor: pointer;
}





.todoFooter{
    display: flex;
    margin-top: 15px;
    padding-bottom: 10px;
    
}
.itemleft{
    width:83px;
    cursor:default;
}
.todoFooter_btngroup{
    width:200px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    
}
.invisible{
    display: none;
}

.primary{
    font-size: 40px;
    color: white;
}

#All{
    background-color: transparent;
    border:none;
    color:white;
    width:40px;
    cursor: pointer;
}
#Active{
    color:white;
    background-color: transparent;
    border:none;
    width:50px;
    cursor: pointer;
}
#Completed{
    color:white;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
#inputObj{
    width:250px;
    padding:10px 10px;
    border: 2px solid grey;
}
#addbtn{
    height: 42px;
    width:100px;
    border:2px solid white;
    background-color: #ffe082;
}
.inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
}